* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: 'Open Sans', 'Segoe UI', Verdana, Arial, Tahoma, sans-serif;
  background-color: #f3f7fa;
  min-width: 320px;
}
